@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  margin-block-start: auto;
  background-color: #2e1e08;
}

